name: Subir proyecto de laravel
on:
  push:
    branches:
      - master
jobs:
  web-deploy:
    name: Deploy
    runs-on: self-hosted
    steps:
      - name: Buscar el código más reciente
        uses: actions/checkout@v2.3.2
      - uses: actions/setup-node@master
      - name: Copiar .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"
      - name: composer update
        run: composer update
      - name: composer install
        run: composer install
      - name: Generar key
        run: php artisan key:generate
      - name: Generar storage link
        run: php artisan storage:link
      - name: Permisos de carpetas
        run: chmod -R 777 storage bootstrap/cache
      - name: npm install
        run: npm i
      - name: npm run build
