name: Subir proyecto de laravel
on:
  push:
    branches:
      - master
jobs:
  web-deploy:
    name: Deploy
    runs-on: self-hosted
    steps:
      - name: Buscar el código más reciente
        uses: actions/checkout@v2.3.2
      - uses: actions/setup-node@master
      - name: Copiar .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"
      - name: composer update
        run: composer update
      - name: composer install
        run: composer install
      - name: Generar key
        run: php artisan key:generate
      - name: Generar storage link
        run: php artisan storage:link
      - name: Permisos de carpetas
        run: chmod -R 777 storage bootstrap/cache
      - name: npm install
        run: npm i
      - name: npm run build
        run: npm run build
      - name: .env
        VARIABLE: ${{ secrets.VARIABLE }}
        APP_NAME: ${{ secrets.APP_NAME }}
        APP_TIMEZONE: ${{ secrets.APP_TIMEZONE }}
        APP_URL: ${{ secrets.APP_URL }}
        APP_LOCALE: ${{ secrets.APP_LOCALE }}
        APP_FALLBACK_LOCALE: ${{ secrets.APP_FALLBACK_LOCALE }}
        APP_FAKER_LOCALE: ${{ secrets.APP_FAKER_LOCALE }}
        DB_CONNECTION: ${{ secrets.DB_CONNECTION }}
        DB_HOST: ${{ secrets.DB_HOST }}
        DB_PORT: ${{ secrets.DB_PORT }}
        DB_DATABASE: ${{ secrets.DB_DATABASE }}
        DB_USERNAME: ${{ secrets.DB_USERNAME }}
        DB_PASSWORD: ${{ secrets.DB_PASSWORD }}

